.img-gallery__card {
    width: 20rem;
    position: relative;
    cursor: pointer;
    
    img {
        width: 100%;
        object-fit: cover;
        transition: 0.3s ease-in-out;
    };

    svg {
        position: absolute;
        top: 0.7rem;
        right: 0.5rem;
        cursor: pointer;
        opacity: 0;
        transition: 0.3s ease-in-out;
        width: 24px;
        pointer-events: none;

        &:active {
            transform: scale(0.7);
        }

        &:nth-of-type(2) {
            top: 2.5rem;
        }
    }

    &:hover svg {
        opacity: 1;
        top: 0.5rem;
        pointer-events: all;
    }

    &:hover svg:nth-of-type(2) {
        top: 2.3rem;
    }

    &:hover img {
        filter: brightness(0.7);
    }
}